.checkbox{
    $self: &;
    display: inline-flex;
    padding: 0 .5rem;
    align-items: center;
    border-radius: .4rem;
    cursor: pointer;
    overflow: hidden;
    transition: .15s;
    border: solid 1px $color_light_gray;

    @media (min-width: 550px){
        padding: 0 1rem;
    }

    &--active{
        border-color: rgba(0,0,0,0);
        
        #{ $self }__text{
            color: $color-white;
        }

        #{ $self }__icon{
            opacity: 1;
        }

        &#{ $self }--file{
            @include bgAndHover($color-orange);
        }
        &#{ $self }--link{
            @include bgAndHover($color-pink);
        }
        &#{ $self }--code{
            @include bgAndHover($color-blue);
        }
    }

    &__text{
        color: $color-dark_gray;
        font-weight: bold;
        transition: .15s;
    }

    &__icon{
        padding: .5rem 0rem .5rem .5rem;
        fill: $color-white;
        opacity: 0;
        transition: .15s;

        @media (min-width: 550px){
            padding: .65rem 0rem .65rem 1rem;
        }
    }

    &__input{
        display: none;
    }
}