.icon-button{
    $self: &; 
    display: flex;
    align-items: stretch;
    border-radius: .4rem;
    overflow: hidden;
    height: 40px;
    
    &__content{
        color: $color-white; 
        display: flex;
        align-items: center;  
        transition: .15s;
    }

    &__text{
        padding: 0 .75rem;
        font-weight: 700;
        max-width: 300px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        display: none;

        @media (min-width: 550px){
            padding: 0 1.25rem;
            display: inline;
        }
    }

    &__icon{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 100%;
        fill: $color-white;
        transition: .15s;
    }

    &--white{
        #{ $self }__content{
            color: $color-black;
        }
        #{ $self }__icon{
            background-color: $color-white;
            fill: $color-black;
        }
        &:hover{
            #{ $self }__icon{
                background-color: $color-dark_gray;
                fill: $color-white;
            }
        }
    }

    &--ruby{
        #{ $self }__content{
            background-color: rgba($color-ruby, .9);
        }
        #{ $self }__icon{
            background-color: $color-ruby;
        }
        &:hover{
            #{ $self }__content{
                background-color: darken($color-ruby, 5%);
            }

            #{ $self }__icon{
                background-color: darken($color-ruby, 5%);
            }
        }
    }

    &--blue{
        #{ $self }__content{
            color: $color-blue;
            background-color: $color-white;
        }
        #{ $self }__icon{
            background-color: $color-blue;
        }
        &:hover{
            #{ $self }__icon{
                background-color: darken($color-blue, 5%);
            }
        }
    }

    &--red{
        #{ $self }__content{
            background-color: rgba($color-red, .85);
        }
        #{ $self }__icon{
            background-color: $color-red;
        }
    }

    &--dark{
        #{ $self }__content{
            background-color: $color-dark_blue 
        }
        #{ $self }__icon{
            background-color: $color-very_dark_blue;
        }
        &:hover{
            #{ $self }__icon{
                background-color: darken($color-very_dark_blue, 5%);
            }
        }
    }
}