.input-snippet{
    &__wrapper{
        position: relative;
        display: flex;
        align-items: flex-start;
    }

    &__placeholder{
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 1rem;
        border-radius: .4rem;
        background-color: $color-ultra_light_gray;
        border: solid 1px $color-light_gray;
        cursor: pointer;
    }

    &__code{
        height: 250px;
        margin: 0;
        padding-right: 2rem;
        font-family: 'Consolas', 'Courier New', Courier, monospace;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    &__field{
        display: flex;
        width: 100%;
        height: calc(250px + 2rem);
        padding: 1rem 3.5rem 1rem 1rem;
        background-color: darken($color-ultra_light_gray, 5%);
        border-radius: .4rem;
        border: solid 1px $color-light_gray;
        font-family: 'Consolas', 'Courier New', Courier, monospace;
        white-space: pre;
        overflow: scroll;
    }

    &__icon{
        position: absolute;
        right: 1.5rem;
        top: .5rem;

        &--simple{
            top: auto;
        }
    }
}