.input{
    margin-top: .5rem;
    &--spacing{
        margin-top: 1rem
    }
    &__header{
        display: flex;
        justify-content: space-between;
    }
    &__error{
        font-weight: bold;
        color: $color-ruby;
    }
}