.plain-button{
    height: 35px;
    padding: 0 1.75rem;
    border-radius: .4rem;
    transition: .15s;

    @media (min-width: 550px){
        height: 45px;
    }

    &--light{
        background-color: $color-pure-white;
        color: $color-black;

        &:hover{
            background-color: $color-light_gray;
            color: $color-white;
        }
    }

    &--dark{
        color: $color-white;
        background-color: $color-black;

        &:hover{
            background-color: $color-dark_gray
        }
    }
}