.resources{
    max-width: 960px;
    margin: 0 auto;
    &__header{
        display: flex;
        align-items: center;
        margin: 2rem 0 1rem;
    }
    &__title{
        margin-right: auto;
    }
    &__filter{
        margin-left: .75rem;
    }
}
.resource-item{
    display: flex;
    align-items: center;
    width: 100%;
    background: $color-ultra_light_gray;

    margin-bottom: 1rem;
    border-radius: .4rem;
    padding: .75rem 1rem;

    &__title{
        margin-left: 1rem;
    }

    &__buttons{
        display: flex;
        margin-left: auto;
    }
}