.resources{

    &__filters{
        margin: .5rem 0;
        
        @media (min-width: 550px){
            margin: 1rem 0;
        }
    }

    &__list{
        margin-top: .5rem;

        @media (min-width: 550px){
            margin-top: 1rem;
        }
    }
}