.sticker{
    display: flex;
    justify-content: center;
    flex-basis: 50px;
    flex-shrink: 0;
    padding: .15rem 0;
    border-radius: .4rem;
    color: $color-white;
    font-weight: 500;
    border: solid 1px;

    @media (min-width: 550px){
        flex-basis: 58px;
    }

    &--blue{
        border-color: $color-blue;
        color: $color-blue
    }
    &--pink{
        border-color: $color-pink;
        color: $color-pink;
    }
    &--orange{
        border-color: $color-orange;
        color: $color-orange;
    }
    &--dark{
        border-color: $color-black;
        color: $color-black;
    }
}
