$color-pure-white: #FFFFFF;
$color-white: #FEFEFE;

$color-black: #111111;
$color-dark_gray: #333333;

$color-blue: #7F49FF;
$color-very_dark_blue: #242836;
$color-dark_blue: #2E323F;

$color-red: #FC3737;
$color-ruby: #AA3838;

$color-pink: #FF56B9;
$color-orange: #FFA10B;

$color-ultra_light_gray: #F4F4F4;
$color-light_gray: #D3D3D3;